<!--- Index.cshtml --->
@model CurrencyInfo

<form asp-action="Convert" asp-controller="Home">
    <select name="From">
        @foreach (var fromItem in Model.From)
        {
        <option value="@fromItem">@fromItem</option>
        }
    </select>

    <select name="To">
        @foreach (var toItem in Model.To)
        {
        <option value="@toItem">@toItem</option>
        }
    </select>

    <span>Amount <input name="Amount" value="0" /></span>
    <input type="submit" value="=" />

    @if (ViewBag.Result != null)
    {
    <span>Result: @ViewBag.Result</span>
    }
</form>